// Database
PORT= ""
DATABASE_URL=""

// CORS
CORS_ORIGIN=""

// JWT
JWT_SECRET=""
JWT_EXPIRED=""
REFRESH_TOKEN_EXPIRED=""
JWT_EXPIRY_MINUTES=""

// Seed Admin
SEED_ADMIN_EMAIL=""
SEED_ADMIN_PASSWORD=""
SEED_ADMIN_ROLE=""